[Unit]
Description=vmselect

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=-/etc/victoriametrics/vmselect-config
ExecStart=/usr/bin/vmselect  $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=655360
[Install]
WantedBy=multi-user.target