[Unit]
Description=vmagent

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=-/etc/victoriametrics/vmagent-config
ExecStart=/usr/bin/vmagent  $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=655360
[Install]
WantedBy=multi-user.target